.header-wrap{
    padding-left: 0px !important;
    padding-right: 0px; 
    border-radius: 0px;
    background:#002656; 
    margin-bottom: 5PX;
}
.pros-navbar-brand img{
    height: 35px;
    width: 100px;
    margin-top: -10px;
}
.PSIcon{
    position: absolute;
    color: #777;
    right: 14px;
    border-left: 1px solid #777 ;
    padding: 11px 12px;
}
.PSIcon:hover{
    background: #337ab7;
    color:#ffffff;
    border-left: rgb(124, 181, 236);
    cursor: pointer;
}
.pros-hsearch{
    margin-top: 7px;
}
.pros-hsearch input{
    height: 35px;
    background: transparent;
    border: 1px solid #999;
    color: #fff;
}
.pros-media-icon i{
    color:#ffffff;
    cursor: pointer;
}
 ::placeholder {
    color: #cccccc;
  }
  .pros-media-icon{
      margin-top: 14px;
      padding: 0px;
  }
  .navbar-inverse .navbar-nav>li> .nav-profile-name{
      color: #fff;
  }


  /* --------------- subheader.js ----------------------- */
  .nav-sub-header li>a{
      color: #333;
      font-size: 14px;
  }
.btn-clear{
    border: 0px;
    margin-right: 15px;
}